@{
    ViewBag.Title = "Parking Full";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div>
    <img src="~/Content/garage-full-parking-lot-sign.png" alt="Parking Full" width="400px"/>

</div>



<p>Sorry to say that the garage does not currently have space for this vehicle.</p>

<h4>Welcome back later...</h4>
